body{
    width:80%;
    margin:auto;
}
.header{
    
    width:100%;
    background:rgb(226, 154, 154);

}
ul li{
    display:inline;

}

ul {
    margin-bottom:0px;
}

nav li a{
    text-decoration:none;
    font-size:20px;
    font-family:cursive;
}

 h1{
    text-align:center;
    font-family:cursive, Helvetica;
    font-size:60px;
    text-shadow:5px 10px 10px rgb(186, 218, 202);
    color:gold;
}


nav
{
    background:orange;
    width:100%;
    margin:auto;
    
}

img {
    width:300px;
    height:200px;
    float:left;
    margin-top:20px;
}

nav a:hover{
    background:blue;
    color:red;
}

.wrap
{
   background:rgb(190, 187, 187);
   width:100%;
}

.section{

    margin:auto;
}

.hero-image{
    background-image: url("h.jpg");
    height:60%;
    width:100%;
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    margin:auto;
}

.hero-text p{
    width:60%;
    height:200pxpx;
    font-size:15px;
    font-family:cursive;
    color:rgb(234, 241, 241);
    position:relative;

}